@charset "utf-8";
/* 用户相关样式 20120222 */

body{}.ebody {
	/*position: relative;  qxfz.cn*/
    
}
.msgbox {
	background-color: #f2f2f2;
	height: 220px;
	width: 550px;
	position: absolute;
	z-index: 999999;
	left: 217px;
	top: 70px;
	border: 2px solid #ffffff;
}
.msgbox .title {
	line-height: 30px;
	height: 30px;
	padding-left: 15px;
	font-size: 16px;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
}
.msgbox .title em {
	padding-top: 5px;
	padding-right: 10px;
}
.msgbox .box1 {
	padding: 15px;
}
.msgbox .box1 p {
	line-height: 30px;
}





.tlink1 {
	color: #3367cd;
	text-decoration: underline;
}
.ulink1 {

}
.ulink1 a {
	color: #3366cc;
	text-decoration: underline;
}
.ulink1 a:hover {
	text-decoration: none;
}



.utitle1 {
	line-height: 32px;
	height: 32px;
	background-color: #f2f2f2;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #e5e5e5;
	border-right-color: #e5e5e5;
	border-left-color: #e5e5e5;
	padding-left: 20px;
}
.utitle1 strong {
	color: #666666;
	font-size: 14px;
}
.utitle2 {
	line-height: 30px;
	background-image: url(../images/member/title_bg1.gif);
	background-repeat: repeat-x;
	height: 30px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	padding-left: 20px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #67ab2d;
	border-left-color: #67ab2d;
}
.utitle3 {
	line-height: 35px;
	background-color: #f5f5f5;
	height: 35px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 14px;
}
.utitle3 li {
	float: left;
	padding-right: 15px;
}
.utitle3 li.this a {
	color: #ea8b2c;
}





.mypath {
	line-height: 25px;
	height: 25px;
	font-family: "宋体";
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b4b6b7;
	padding-bottom: 5px;
}
.mypath small {
	color: #999999;
	padding-right: 10px;
	padding-left: 10px;
}
.usbox1 {
}
.usbox1 .left ,.usbox1 .right{
	width: 477px;
}
.usbox2 {
	border: 1px solid #cacaca;
	padding-bottom: 10px;
}
.usbox2 .inpx1 {
	background-image: url(../images/user/inpx.gif);
	background-repeat: no-repeat;
	height: 26px;
	border: 1px solid #b4b6b7;
	font-size: 14px;
	line-height: 26px;
	padding-right: 5px;
	padding-left: 5px;
}
.usbox2 .title1 {
	line-height: 35px;
	background-color: #f3f3f3;
	height: 35px;
	padding-left: 30px;
	font-size: 14px;
	font-weight: bold;
}
.usbox2 .title2 {
	padding-right: 30px;
	padding-left: 30px;
	font-size: 14px;
	line-height: 40px;
	font-weight: bold;
	height: 40px;
	color: #666666;
	padding-top: 5px;
	padding-bottom: 5px;
}
.usbox2 .txt1 {
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.usbox2 .list1 {
	border: 1px solid #e4e4e4;
	width: 915px;
	margin-right: auto;
	margin-left: auto;
}
.usbox2 .list1 .tx1 {
	height: 61px;
	text-align: center;
	background-color: #fafafa;
}
.usbox2 ul{
	border: 1px solid #ffffff;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 25px;
	padding-left: 35px;
}

.usbox2 ul li{
	padding-top: 20px;
	_padding-top: 17px;
	zoom:1;
	clear: both;
}
.usbox2 ul li p{
	float: left;
	line-height: 30px;

}
.usbox2 ul li p.f1{
	float: left;
	text-align: right;
	padding-right: 10px;
	font-size: 14px;
	line-height: 32px;
}
.usbox2 ul li p.f2{
	float: left;
	width: 180px;
	text-align: right;
	padding-right: 5px;
	font-size: 14px;
	line-height: 30px;
}
.usbox2 ul li p.f3{
	width: 110px;
	text-align: center;
	border: 1px solid #d6d6d6;
	height: 24px;
	line-height: 24px;
	background-color: #fcfcfc;
	margin-top: 2px;
}
.usbox2 ul li p.f4{
	width: 190px;
}
.usbox2 ul li p.f5{
	width: 90px;
	color: #999999;
}
.usbox3 {
	border: 1px solid #e5e5e5;
	padding: 15px;
}
.usbox3 .xtl1 {
	background-color: #f5f5f5;
	line-height: 35px;
	height: 35px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 14px;
	font-weight: bold;
}
.usbox3 .xtl1 strong {
	color: #cd0606;
	font-size: 20px;
}
.usbox3 .xtl2 {
	line-height: 35px;
	height: 35px;
	font-size: 14px;
	padding-top: 10px;
}
.usbox3 .xtl3 {
	line-height: 35px;
	height: 35px;
	font-size: 14px;
	padding-top: 10px;
}
.usbox3 .tbox1 {
	background-color: #fafafa;
	padding: 10px;
}
.usbox3 .tbox1 p {
	line-height: 22px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}
.usbox3 .msg1 {
	border: 1px solid #ebebeb;
}
.usbox3 .msg1 .title {
	line-height: 40px;
	height: 40px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 14px;
	background-color: #f5f5f5;
}
.usbox3 .msg1 ul {
	padding: 15px;
	font-size: 14px;
}
.usbox3 .msg1 ul li {
	height: 35px;
	line-height: 35px;
}
.usbox3 .tbox2 {
	background-color: #fafafa;
	padding: 10px;
}
.usbox3 .tbox2 .title{
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
}
.usbox3 .tbox2 p{
}
.usbox3 .tbox3 {
	border: 1px solid #ebebeb;
}
.usbox3 .tbox3 .title{
	font-weight: bold;
	background-color: #f5f5f5;
	line-height: 40px;
	height: 40px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 14px;
}
.usbox3 .tbox3 .txt{
	padding: 20px;
}
.usbox3 .tbox3 .txt p {
	line-height: 25px;
}
.usbox3 .tbox3 .txt p.c2 {
	color: #999999;
	padding-left: 23px;
}
.usbox3 .tbox3 .txt big {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	padding-right: 5px;
	padding-left: 5px;
}



.usbox3 .box3 {
	padding-top: 20px;
}
.usbox3 .box3 .title{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #dbdbdb;
	padding-bottom: 5px;
	padding-top: 10px;
}
.usbox3 .box3 .title p {
	color: #999999;
}

.usbox3 .box3 dl{
	padding-top: 15px;
}
.usbox3 .box3 dt{
	float: left;
	width: 100px;
	color: #666666;
}
.usbox3 .box3 dd{
	float: right;
	width: 650px;
}
.usbox3 .box3 dt{
}
.usbox3 .box3 dd{
}
.usbox3 .comx {
	position: relative;
}
.usbox3 .comx .nav{
	height: 30px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #e8e8e8;
	border-right-color: #e8e8e8;
	border-bottom-color: #e8e8e8;
}
.usbox3 .comx .nav li{
	line-height: 30px;
	float: left;
	width: 377px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #e8e8e8;
	text-align: center;
	font-size: 14px;
}
.usbox3 .comx .nav li.this{
	font-weight: bold;
	background-color: #f2f2f2;
}
.usbox3 .comx .add{
	height: 200px;
	width: 480px;
	border: 2px solid #999999;
	position: absolute;
	z-index: 999;
	top: 200px;
	left: 150px;
	background-color: #ffffff;
}
.usbox3 .comx .add .tx {
	line-height: 30px;
	background-color: #f5f5f5;
	height: 30px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
}
.usbox3 .comx .add .tx em {
	padding-top: 5px;
}
.usbox3 .comx .add dl{
	padding: 15px;
}
.usbox3 .comx .add dt{
	float: left;
	width: 200px;
}
.usbox3 .comx .add dt p {
	float: left;
	margin-right: 5px;
}
.usbox3 .comx .add dt div {
	clear: both;
	height: 35px;
	line-height: 24px;
}
.usbox3 .comx .add strong  {
	color: #ed1c24;
}


.usbox3 .comx .add dd{
	float: right;
	width: 250px;
}
.usbox3 .comx .sx{
	padding-top: 5px;
	padding-bottom: 5px;
	zoom:1;
}
.usbox3 .comx .sx p{
	float: left;
	margin-right: 10px;
	line-height: 24px;
}
.usbox3 .comx .sx em {
	background-image: url(../images/member/ico6.gif);
	background-repeat: no-repeat;
	padding-left: 22px;
	background-position: 0px 4px;
}

.usbox3 .comx {
}
.usinfo1 {
	background-image: url(../images/member/info_bg1.jpg);
	background-repeat: no-repeat;
	height: 226px;
	border: 1px solid #e5e5e5;
}
.usinfo1 .box {
	width: 530px;
	margin-right: auto;
	margin-left: auto;
	background-color: #ffffff;
	margin-top: 15px;
	border: 1px solid #fef4e5;
	padding-top: 25px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	height: 120px;
}
.usinfo1 .box ul {
}
.usinfo1 .box ul li{
	float: left;
	padding-left: 10px;
	color: #333333;
}
.usinfo1 .box ul li.s2 {
	width: 250px;
}
.usinfo1 .box ul li.s3 {
	float: right;
	width: 160px;
	text-align: center;
	color: #8c8c8c;
}

.usinfo1 .box ul li p{
}
.usinfo1 .box ul li p.p1{
	font-weight: bold;
	height: 40px;
}
.usinfo1 .box ul li p.p2{
	height: 40px;
}
.usinfo1 .box ul li p.p3 {
	background-image: url(../images/member/usinfo_b2.gif);
	background-repeat: no-repeat;
	height: 35px;
	width: 150px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: \5FAE\8F6F\96C5\9ED1, \9ED1\4F53;
	font-size: 24px;
	line-height: 35px;
	text-align: center;
	color: #ffffff;
}

.usinfo1 .box ul li p .c1{
	color: #ff6600;
	font-weight: bold;
}
.usinfo1 .box ul li p a {
	color: #3366cc;
	text-decoration: underline;
	padding-right: 15px;
}
.usinfo1 .link {
	width: 350px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 12px;
}






.star img {
	height: 18px;
	width: 17px;
}
.star a {
	display: inline;
	float: left;
	height: 18px;
	width: 18px;
	margin-right: 2px;
}


.star {
	background-image: url(../images/member/star3.gif);
	background-repeat: no-repeat;
	height: 19px;
	width: 104px;
	padding-top: 3px;
	padding-left: 3px;
	background-position: 0px -189px;
	overflow: hidden;
}


.star.s1 {background-position: 0px 0px;}
.star.s2 {background-position: 0px -21px;}
.star.s3 {background-position: 0px -42px;}
.star.s4 {background-position: 0px -63px;}
.star.s5 {background-position: 0px -84px;}
.star.s6 {background-position: 0px -105px;}
.star.s7 {background-position: 0px -126px;}
.star.s8 {background-position: 0px -147px;}
.star.s9 {background-position: 0px -168px;}













.lnav {
	width: 180px;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e5e5e5;
}
.lnav dl {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #e5e5e5;
	border-left-color: #e5e5e5;
}
.lnav dt {
	line-height: 30px;
	background-color: #f0f0f0;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	background-image: url(../images/member/ico1.gif);
	background-repeat: no-repeat;
	background-position: 158px 10px;
	padding-left: 20px;
	margin-bottom: 3px;
}
.lnav dd {
	font-family: Simsun;
	line-height: 22px;
	height: 20px;
	padding-left: 30px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-image: url(../images/member/ico3.gif);
	background-repeat: no-repeat;
	background-position: 20px 12px;
}
.lnav dd.this a{
	color: #cd0606;
}
.lnav dd span.new {
	background-image: url(../images/member/ico2.gif);
	padding-right: 28px;
	background-repeat: no-repeat;
	background-position: right center;
}
.lnav dd span.hot1 {
	background-image: url(../images/member/hot3.gif);
	padding-right: 40px;
	background-repeat: no-repeat;
	background-position: right center;
	white-space: nowrap;
}
.lnav dd span.hot2 {
	background-image: url(../images/member/hot2.gif);
	padding-right: 60px;
	background-repeat: no-repeat;
	background-position: right center;
	white-space: nowrap;
}

.rubox {
	float: right;
	width: 790px;
}
.lnav2 {
	float: left;
	width: 200px;
}
.rubox2 {
	width: 770px;
	float: right;
}
.unav1 {
	background-color: #fafafa;
	border: 1px solid #e5e5e5;
}
.unav1 ul {
	height: 37px;
	padding-top: 5px;
}
.unav1 ul li{
	float: left;
	height: 31px;
	overflow: hidden;
	padding-left: 10px;
}
.unav1 ul li a{
	line-height: 93px;
	height: 31px;
	width: 147px;
	overflow: hidden;
	display: block;
}
.unav1 ul li a.ig1 {
	background-image: url(../images/member/nav_c1.gif);
}
.unav1 ul li a.ig2 {
	background-image: url(../images/member/nav_c2.gif);
}
.unav1 ul li a.ig3 {
	background-image: url(../images/member/nav_c3.gif);
}
.unav1 ul li a.ig4 {
	background-image: url(../images/member/nav_c4.gif);
}

.unav1 ul li.this{
}
.unav1 ul li.this a{
	background-position: left -31px;
}
.unav1 ul li a:hover {
	background-position: 0px -31px;
}

.uslist1 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #e2e2e2;
	border-bottom-color: #e2e2e2;
	border-left-color: #e2e2e2;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.uslist1 li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eaeaea;
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url(../images/member/ico7.gif);
	background-repeat: no-repeat;
	background-position: 0px 15px;
	padding-left: 12px;
}
.uslist1 li p.t1 {
	color: #8d8d8d;
}
.uslist1 li p.t2 {
	color: #333333;
	height: 20px;
	overflow: hidden;
}
.uslist1 li p.t3 {
	color: #ff6600;
}
.uslist1 li p.t4 {
	background-repeat: no-repeat;
	background-position: right center;
}
.uslist1 li p.v1 {background-image: url(../images/member/v1.gif);}
.uslist1 li p.v2 {background-image: url(../images/member/v2.gif);}
.uslist1 li p.v3 {background-image: url(../images/member/v3.gif);}
.uslist1 li p.v4 {background-image: url(../images/member/v4.gif);}

.uinfo1 {
	border: 1px solid #e5e5e5;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
.uinfo1 .til {
	line-height: 25px;
	color: #453000;
	height: 25px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #f5f5f5;
	margin-bottom: 10px;
	font-weight: bold;
	margin-top: 10px;
}
.uinfo1 .txt {
	color: #666666;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 22px;
}
.uinfo1 .til2 {
	font-size: 14px;
	line-height: 35px;
	font-weight: bold;
	height: 35px;
}
.uinfo1 .til3 {
	background-color: #fffbe1;
	border: 1px solid #febf90;
	padding: 12px;
}
.uinfo1 .til3 big {
	font-size: 16px;
	line-height: 35px;
	font-weight: bold;
	color: #ff6600;
	height: 35px;
}
.uinfo1 .til3 strong {
	color: #ff6600;
	font-size: 14px;
}


.utabs  {
}
.utabs table {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #dbdbdb;
	border-bottom-color: #dbdbdb;
}
.utabs table td {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #dbdbdb;
	border-left-color: #dbdbdb;
	padding: 3px;
}



.uinfo2 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dadada;
	border-right-color: #dadada;
	border-bottom-color: #ff6600;
	border-left-color: #dadada;
	background-color: #ededed;
}
.uinfo2 ul {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
}
.uinfo2 ul li {
	line-height: 25px;
	clear: both;
}
.uinfo2 ul li p {
	float: left;
}

.uinfo2 ul li span {
	background-repeat: no-repeat;
	background-position: left center;
	font-weight: bold;
	color: #ff6600;
	line-height: 25px;
	display: block;
	height: 25px;
	overflow: hidden;
	float: left;
}
.uinfo2 ul li span.v1 {
	background-image: url(../images/member/v1.gif);
	padding-left: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.uinfo2 ul li span.v2 {
	background-image: url(../images/member/v2.gif);
	padding-left: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.uinfo2 ul li span.v3 {
	background-image: url(../images/member/v3.gif);
	padding-left: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.uinfo2 ul li span.v4 {
	background-image: url(../images/member/v4.gif);
	padding-left: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.uinfo2 .link {
	padding-top: 12px;
	padding-bottom: 12px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #e0e0e0;
	padding-left: 10px;
}
.uinfo2 .link p{
	float: left;
	padding-right: 8px;
	padding-left: 8px;
}








.tabs1 {
}
.tabs1 tr {
}
.tabs1 .thx1 td{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #e5e5e5;
	line-height: 30px;
	color: #111111;
}

.tabs1 td {
	line-height: 24px;
	text-align: center;
}
.tabs1 .c1 {
	color: #f27b04;
}



.usorders {
	clear: both;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #e5e5e5;
	border-bottom-color: #e5e5e5;
	border-left-color: #e5e5e5;
	padding: 12px;
}
.usact {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #e5e5e5;
	border-bottom-color: #e5e5e5;
	border-left-color: #e5e5e5;
	zoom:1;
}
.usact ul {
	padding-top: 10px;
	padding-left: 10px;
}
.usact ul li{
	height: 160px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	width: 378px;
	display: inline;
	overflow: hidden;
}



.usinfo {
	border: 1px solid #e5e5e5;
}
.usinfo .lbox{
	padding: 15px;
	float: left;
	width: 430px;
	background-image: url(../images/member/usinfo_bg1.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
.usinfo  ul{
}
.usinfo ul li{
	clear: both;
	line-height: 20px;
}


.usinfo ul li p{
	float: left;
}
.usinfo ul li p.p1{
	line-height: 30px;
	padding-left: 15px;
}
.usinfo ul li p.p1 a {
	color: #999999;
}

.usinfo ul li p.p2{
	height: 50px;
}
.usinfo ul li p.p3{
	padding-top: 20px;
	color: #999999;
}
.usinfo ul li p.p4{
	padding-top: 5px;
	text-align: center;
}
.usinfo ul li p.p5{
	background-image: url(../images/member/ico4.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 24px;
	margin-left: 20px;
}
.usinfo ul li p.p5 a {
	color: #ff6600;
	padding-right: 5px;
	padding-left: 5px;
}

.usinfo ul li p.user {
	font-size: 16px;
	font-weight: bold;
	background-image: url(../images/member/vip.gif);
	background-repeat: no-repeat;
	background-position: right -120px;
	line-height: 25px;
	height: 25px;
	padding-right: 25px;
}

.usinfo ul li p.vip1{
	background-position: right 0px;
}
.usinfo ul li p.vip2{
	background-position: right -30px;
}
.usinfo ul li p.vip3{
	background-repeat: no-repeat;
	background-position: right -60px;
}
.usinfo ul li p.vip4{
	background-position: right -90px;
}
.usinfo ul li p{
}
.usinfo ul li p{
}
.usinfo ul li.vipx {
	background-image: url(../images/member/vip_bg1.gif);
	background-repeat: no-repeat;
	height: 17px;
	width: 358px;
	margin-top: 8px;
	margin-bottom: 5px;
	padding-top: 23px;
	padding-right: 2px;
}
.usinfo ul li.vipx p {
	background-image: url(../images/member/vip_bg1.gif);
	background-repeat: repeat-x;
	height: 15px;
	width: 100%;
	float: none;
	display: block;
	background-position: left -63px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #f27b04;
	border-left-color: #f27b04;
	font-size: 0px;
	line-height: 0px;
}
.usinfo ul li big {
	color: #f27b04;
	font-size: 12px;
	font-weight: bold;
}

.usinfo .rbox{
	float: right;
	width: 300px;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 15px;
}
.usinfo .rbox li {
	line-height: 30px;
}
.ordlist {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #e5e5e5;
	border-bottom-color: #e5e5e5;
	border-left-color: #e5e5e5;
	padding: 15px;

}
.ordlist .nav{
	background-color: #f0f0f0;
	padding-left: 20px;

}
.ordlist .nav li{
	float: left;
	font-size: 14px;
	line-height: 30px;
	padding-right: 20px;

}
.ordlist .list{


}
.ordlist .list .ta1 {
	float: none;
	line-height: 30px;
	height: 30px;
	padding-top: 10px;

}
.ordlist .list ul{
	zoom: 1;
	border: 1px solid #e5e5e5;
	background-image: url(../images/member/ordlist_bg1.gif);
	background-repeat: repeat-y;
	background-position: right 0px;

}
.ordlist .list ul li{
	float: left;
	display: inline;

}
.ordlist .list ul li.ta2{
	clear: left;
	width: 385px;
	padding-left: 12px;
	padding-right: 10px;

}
.ordlist .list ul li.ta3{
	width: 178px;
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 10px;


}
.ordlist .list ul li.ta4{
	width: 140px;
	padding-left: 10px;
	padding-top: 10px;

}
.ordlist .list ul li big {
	color: #f37b03;
	font-size: 12px;
}
.ordlist .list ul li strong {
	color: #f27b05;
}


.ordlist .list ul dl{
	margin-top: 10px;

}
.ordlist .list ul dt{
	float: left;
	height: 60px;
	width: 60px;
	border: 1px solid #eaeaea;

}
.ordlist .list ul dd{
	float: right;
	padding-left: 10px;
	width: 310px;

}
.ordlist .list ul .tb1{
	line-height: 20px;
	height: 20px;
	overflow: hidden;

}
.ordlist .list ul .tb2{
	color: #666666;

}
.ordlist .list ul .tb3{
	color: #666666;

}
.ordview {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #e5e5e5;
	border-bottom-color: #e5e5e5;
	border-left-color: #e5e5e5;
	padding: 15px;

}
.ordview .title{
	line-height: 35px;
	padding-top: 5px;
}
.ordview .title strong {
	font-size: 16px;
	color: #111111;
	padding-right: 10px;
}
.ordview .title em {

}
.ordview .title em a{
	color: #3366cc;
	text-decoration: underline;
}
.ordview .title .c3 {
	color: #cd0606;
}



.ordview .box1{

}
.ordview .box1 ul.img{
	background-color: #f5f5f5;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 6px;
	margin-bottom: 6px;
	zoom: 1;
	padding-left: 10px;
}
.ordview .box1 ul.img .ia{
	background-image: url(../images/member/ord_bg2.gif);
	background-repeat: no-repeat;
	width: 25px;
	background-position: 0px -25px;

}
.ordview .box1 ul.img .ib{
	background-image: url(../images/member/ord_bg3.gif);
	background-repeat: no-repeat;
	width: 100px;
	background-position: 0px -25px;

}
.ordview .box1 ul.img p{
	height: 25px;
}
.ordview .box1 ul.img li.this p{
	background-position: 0px 0px;
}
.ordview .box1 ul li{
	float: left;
	height: 25px;
	margin-right: 8px;

}
.ordview .box1 ul.txt .t1{
	width: 122px;

}
.ordview .box1 ul.txt .t2{
	width: 70px;
	text-align: center;
	padding-right: 63px;

}
.ordview .box1 ul.txt .t3{
	width: 45px;
	text-align: right;

}
.ordview a    {
	color: #3366cc;
	text-decoration: underline;
}
.ordview .box2{
	background-color: #fafafa;
	padding: 10px;
	margin-top: 5px;
}
.ordview .box2 dl {
}
.ordview .box2 dt {
	float: left;
	width: 150px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #666666;
}
.ordview .box2 dd {
	float: right;
	width: 585px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.ordview {

}
.ordview {
}
.ustabs1 {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #ebebeb;
	border-left-color: #ebebeb;
}
.ustabs1 td{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #ebebeb;
	border-bottom-color: #ebebeb;
	line-height: 22px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
}
.ustabs1 .xtd1 {
	background-color: #f5f5f5;
}
.ustabs1 p.p1 {
	text-align: left;
	color: #111111;
}
.ustabs1 p.p2 {
	text-align: left;
	color: #999999;
	line-height: 19px;
	padding-top: 2px;
	padding-bottom: 2px;
}


.ustabs2 {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ebebeb;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ebebeb;
}
.ustabs2 td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eaeaea;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	text-align: center;
}

.ustabs2 .xt1 td {
	background-color: #f6f6f6;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	color: #111111;
}
.ustabs2 .xt3 td {
	background-color: #f6f6f6;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	color: #111111;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ebebeb;
	font-weight: bold;
}
.ustabs2 td p {
	text-align: left;
}
.ustabs2 td strong {
	color: #cd0606;
}
.ustabs2 .xt2 td {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fafafa;
}

.ustabs2 .xt2 td p{
	text-align: right;
	padding-right: 10px;
	line-height: 22px;
}
.ustabs2 .xt2 td .pic{
	font-size: 16px;
}
.addlist  {
	zoom: 1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eaeaea;
}
.addlist li  {
	border: 1px solid #e4e4e4;
	float: left;
	height: 85px;
	width: 218px;
	margin-right: 12px;
	display: inline;
	position: relative;
	cursor: pointer;
	padding-top: 22px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	color: #666666;
	margin-top: 12px;
}
.addlist li.this {
	background-color: #fffceb;
	border: 1px solid #ffe2a6;
}
.addlist li em {
	position: absolute;
	float: none;
	z-index: 666;
}
.addlist li em.edt {
	text-decoration: underline;
	top: 3px;
	right: 2px;
	color: #666666;

}
.addlist li em a  {
	color: #1e71cd;
	text-decoration: underline;
	padding-right: 3px;
	padding-left: 3px;
}
.addlist li em a:hover {
	color: #ff6600;
}

.addlist li em.ths {
	background-image: url(../images/cart/ico_d.gif);
	top: 97px;
	right: -1px;
	height: 21px;
	width: 21px;
	display: none;
}
.addlist li p strong {
	font-size: 14px;
	padding-right: 10px;
}
.addlist li p small {
	font-size: 12px;
	color: #888888;
	padding-left: 8px;
}

.addlist li p {
	padding-top: 2px;
	padding-bottom: 2px;
}
.addlist li p.t1 {
	height: 54px;
	line-height: 18px;
	overflow: hidden;
}
.addlist li.this em.ths {
	display: block;
}
.addlist .newadd {
	background-image: url(../images/cart/ico_g.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 15px;
}
.addlist .newadd a {
	color: #1e71cd;
	text-decoration: underline;
}
.editadd{
	margin-top: 10px;
	background-color: #f7f7f7;
	border: 1px solid #dbdbdb;
	padding-top: 10px;
	padding-bottom: 10px;
}
.editadd .listb {
	padding-top: 4px;
	padding-bottom: 4px;
}
.editadd .info{
	padding-right: 10px;
	padding-left: 10px;
}
.editadd .info strong{
	padding-right: 3px;
	padding-left: 3px;
	color: #cd0606;
}
.editadd big {
	padding-right: 3px;
	padding-left: 3px;
	color: #cd0606;
	font-weight: bold;
}
.editadd .inpx1 {
	line-height: 20px;
	background-image: url(../images/public/inp_bg1.gif);
	background-repeat: no-repeat;
	height: 20px;
	border: 1px solid #cccccc;
	padding-right: 5px;
	padding-left: 5px;
	background-color: #ffffff;
}
.editadd .boxd {
	padding-top: 15px;
}
.editadd .listb dt{
	float: left;
	width: 110px;
	text-align: right;
	padding-right: 10px;
	height: 22px;
	display: block;
}
.editadd .listb dd{
	margin-left: 120px;
}
.editadd .listb dd p {
	padding-bottom: 5px;
}
.editadd .listb dd small {
	color: #999999;
	padding-left: 8px;
	font-size: 12px;
}
.editadd .listb dd .inx {
	color: #cd0606;
	padding-left: 8px;
}
.editadd .listb dt.t1 {
	text-align: left;
	padding-right: 0px;
	padding-left: 10px;
}
.editadd .listb p.x1{
	float: left;
}
.editadd .listb p.x2{
	float: left;
	padding-left: 20px;
}
.inpx2  {
	background-image: url(../images/user/inpx.gif);
	background-repeat: no-repeat;
	height: 22px;
	border: 1px solid #b4b6b7;
	font-size: 14px;
	line-height: 22px;
	padding-right: 5px;
	padding-left: 5px;
}




.usinfo {
}
.fo_bg {
	background-repeat: no-repeat;
	float: left;
	height: 328px;
	width: 489px;
}














.usform {
	background-color: #f0f0f3;
	background-image: url(../images/user/bg1.gif);
	padding-right: 3px;
	padding-bottom: 3px;
}
.usform .list{
	border: 1px solid #cacaca;
	background-color: #fafafa;
}
.usform .title{
	background-image: url(../images/user/box_bg2.gif);
	background-repeat: repeat-x;
	height: 43px;
}
.usform .title strong {
	font-family: \5FAE\8F6F\96C5\9ED1, \9ED1\4F53;
	font-size: 16px;
	font-weight: normal;
	float: left;
	padding-right: 10px;
	padding-left: 25px;
	height: 43px;
	color: #666666;
	line-height: 43px;
}
.usform .title strong.c1 {
	border-bottom-color: #5ca41d;
}

.usform .title em {
	line-height: 43px;
	padding-right: 12px;
	color: #999999;
	zoom: 1;
	float: right;
}

.usform ul{
	border: 1px solid #ffffff;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 25px;
	padding-left: 35px;
}

.usform ul li{
	padding-top: 20px;
	_padding-top: 17px;
	zoom:1;
	clear: both;
}
.usform ul li p{
	float: left;
	line-height: 30px;

}
.usform ul li p.f1{
	float: left;
	width: 75px;
	text-align: right;
	padding-right: 5px;
	font-size: 14px;
	line-height: 30px;
}
.usform ul li p.f2{
	float: left;
	width: 180px;
	text-align: right;
	padding-right: 5px;
	font-size: 14px;
	line-height: 30px;
}
.usform ul li p.f3{
	width: 220px;
}
.usform ul li p.f4{
	width: 190px;
}
.usform ul li p.f5{
	width: 90px;
	color: #999999;
}
.usform ul li p.f6 {
	width: 145px;
}
.usform ul li p.f7{
	width: 350px;
}
.usform ul li p.f8 {
	width: 350px;

}
.usform ul li p big {
	font-family: "宋体";
	color: #ff0000;
	font-size: 12px;
}

.usform ul li .inf {
	color: #666666;
	line-height: 15px;
	height: 30px;
	overflow: hidden;
}
.usform ul li .inf span {
	padding-left: 15px;
	display: block;
	background-repeat: no-repeat;
}
.usform ul li .inf span.ir {
	background-image: url(../images/user/ico-r.gif);
	color: #3c9c37;
}
.usform ul li .inf span.ie {
	background-image: url(../images/user/ico-e.gif);
	color: #ff4d00;
}
.usform ul li .sel {
	height: 25px;
	width: 135px;
}




.usform .inpx1 {
	background-image: url(../images/user/inpx.gif);
	background-repeat: no-repeat;
	height: 26px;
	border: 1px solid #b4b6b7;
	font-size: 14px;
	line-height: 26px;
	padding-right: 5px;
	padding-left: 5px;
}
.usform ul li.tx1{
	background-image: url(../images/user/bg2.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-top: 50px;
	padding-bottom: 10px;
	color: #808080;
}
.usform ul li.tx2 {
	padding-top: 10px;
}
.usform ul li.tx2 p{
	padding-right: 10px;
}
.usform ul li.tx3 {
	padding-top: 10px;
}
.usform ul li.tx3 .inp{
	padding-top: 8px;
	padding-right: 6px;
}
.usform ul li.tx4 {
	background-image: url(../images/user/ico1.gif);
	background-repeat: no-repeat;
	background-position: 0px 16px;
	padding-left: 18px;
	color: #999999;
}



.usform ul li{
}

.usform ul{
}
.usform ul li{
}
.usform .k1 a {
	color: #3366cc;
}
.usform ul.reg {
}
.usform ul.reg li {
	padding-top: 13px;
}


.pages6{
	clear: both;
	padding-top: 10px;
	text-align: right;
}
.pages6 p{
	font-size: 12px;
	line-height: 25px;
	display: inline;
	font-family: Simsun;
	height: 20px;
	padding-right: 2px;
	padding-left: 2px;
}
.pages6 p a{
	background-color: #fcfcfc;
	padding-right: 10px;
	padding-left: 10px;
	border: 1px solid #dbdbdb;
	padding-top: 3px;
	padding-bottom: 3px;
	line-height: 20px;
}
.pages6 p a:hover{
	color: #f27b03;
	text-decoration: none;
}
.pages6 p.this a,.pages6 p.this a:hover{
	color: #ffffff;
	text-decoration: none;
	background-color: #f27b03;
	border: 1px solid #d76c00;
}
.pages6 p.pr a{
	background-image: url(../images/public/pages6_ico1.gif);
	background-repeat: no-repeat;
	background-position: 0px center;
	padding-left: 15px;
}
.pages6 p.nx a{
	background-image: url(../images/public/pages6_ico2.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 15px;
}
.pages6 p a.nox,.pages6 p a.nox:hover{
	color: #cccccc;
	border: 1px solid #dbdbdb;
}
.prolist_s1 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #e0e0e0;
	border-bottom-color: #e0e0e0;
	border-left-color: #e0e0e0;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
.prolist_s1 ul {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eaeaea;
	padding-top: 10px;
	padding-bottom: 10px;
	zoom:1;
	clear: both;
}
.prolist_s1 ul li.img {
	float: left;
	height: 62px;
	width: 62px;
	padding-top: 1px;
}
.prolist_s1 ul li.img a {
	border: 1px solid #eaeaea;
	display: block;
}
.prolist_s1 ul li.img a:hover {
	border: 1px solid #fec091;
}
.prolist_s1 ul li.img img {
	height: 60px;
	width: 60px;
}
.prolist_s1 ul li.txt {
	float: right;
	width: 110px;
	line-height: 17px;
}
.prolist_s1 ul li.txt p.til {
	line-height: 15px;
	height: 30px;
	overflow: hidden;
	margin-bottom: 2px;
}
.prolist_s1 ul li.txt p {
	color: #959595;
}
.prolist_s1 ul li small {
	font-size: 12px;
	text-decoration: line-through;
}
.prolist_s1 ul li.txt p.pri {
	color: #cd0606;
}
.prolist_s1 .tbox1 {
	padding-top: 10px;
}
.prolist_s1 .ncom {
	padding-top: 5px;
}
.prolist_s1 .ncom .listx {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dbdbdb;
	padding-top: 5px;
	padding-bottom: 5px;
}
.prolist_s1 .ncom strong {
	font-weight: normal;
	color: #e45506;
}
.prolist_s1 .ncom small {
	font-size: 12px;
}
.prolist_s1 .ncom span {
}
.prolist_s1 .ncom p {
	height: 20px;
	overflow: hidden;
}
.prolist_s1 .ncom p.txt {
	background-color: #f8f8f8;
	height: auto;
	border: 1px solid #f0f0f0;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	line-height: 16px;
	margin-top: 4px;
}

.prolist_s1 .ncom a {
	color: #005aa0;
}




.prolist_s1 ol {
	padding-top: 10px;
}
.prolist_s1 ol li {
	height: 26px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #dcdcdc;
	line-height: 26px;
	overflow: hidden;
}
.prolist_s2 {
	border: 1px solid #dbdbdb;
	padding-top: 10px;
	padding-left: 5px;
}
.prolist_s2 ul{
	width: 243px;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 9px;
	display: inline;
	margin-right: 5px;
	margin-left: 5px;
	height: 355px;
	overflow: hidden;
}
.prolist_s2 ul:hover {
	background-color: #f7f7f7;
}

.prolist_s2 ul li{
	width: 218px;
}
.prolist_s2 ul li.img{
	padding: 9px;
	width: 224px;
	float: left;
}
.prolist_s2 ul li.img a {
	border: 1px solid #e0e0e0;
	display: block;
	padding: 1px;
	height: 220px;
	width: 220px;
}
.prolist_s2 ul li.img a:hover {
	border: 1px solid #fdbf90;
}

.prolist_s2 ul li.img img {
	height: 220px;
	width: 220px;
}

.prolist_s2 ul li.txt{
	padding-right: 12px;
	padding-left: 12px;
	line-height: 16px;
	height: 32px;
	overflow: hidden;
	clear: both;
	float: left;
	margin-bottom: 5px;
}
.prolist_s2 ul li.pri1{
	padding-right: 12px;
	padding-left: 12px;
	color: #999999;
	line-height: 18px;
	clear: both;
	float: left;
}
.prolist_s2 ul li.pri1 p {
	float: right;
	width: 75px;
}
.prolist_s2 ul li.pri1 small  {
	font-size: 12px;
	text-decoration: line-through;
}


.prolist_s2 ul li.pri2{
	padding-right: 12px;
	padding-left: 12px;
	clear: both;
	float: left;
}
.prolist_s2 ul li.pri2 strong{
	font-size: 12px;
	color: #cd0606;
	font-weight: normal;
}
.prolist_s2 ul li.pri2 em a {
	color: #999999;
}
.prolist_s2 ul li.pri2 span{
	font-family: \5FAE\8F6F\96C5\9ED1, \9ED1\4F53;
	font-size: 14px;
	color: #cd0606;
}
.prolist_s2 ul li.buy{
	padding-top: 5px;
	padding-right: 12px;
	padding-left: 12px;
	line-height: 22px;
	height: 22px;
	overflow: hidden;
	zoom:1;
	clear: both;
	float: left;
}
.prolist_s2 ul li.buy a{
	height: 22px;
	width: 93px;
	text-align: center;
	padding-left: 10px;
}
.prolist_s2 ul li.buy a.la{
	background-image: url(../images/member/jfinp1.gif);
	background-repeat: no-repeat;
	float: left;
	color: #cd0606;
}
.prolist_s2 ul li.buy a.lb{
	background-image: url(../images/member/jfinp2.gif);
	background-repeat: no-repeat;
	float: right;
}
.prolist_s2 ul li.buy a:hover{
	text-decoration: none;
}
.prolist_s2 ul li{
}
.popbox2 {
	border: 2px solid #f5800c;
	width: 500px;
	background-color: #ffffff;
	position: relative;
	display: none;
}
.popbox2 .title {
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
	color: #833504;
	background-color: #fce3cf;
	height: 32px;
	padding-right: 10px;
	padding-left: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #feb280;
}
.popbox2 .title em {
	float: right;
	height: 18px;
	width: 18px;
	border: 1px solid #ffffff;
	margin-top: 6px;
	cursor: pointer;
}


.popbox2 p.p1 {
	font-size: 14px;
	color: #333333;
	line-height: 25px;
	padding: 15px;
}
.popbox2 p.p2 {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #f1f1f1;
	padding-top: 20px;
	text-align: center;
	padding-bottom: 15px;
	margin-right: 15px;
	margin-left: 15px;
}
.popbox2 span {
	padding-right: 10px;
	padding-left: 10px;
}
.tanglist {
	padding-top: 15px;
	padding-bottom: 10px;
	border: 1px solid #e5e5e5;
	zoom: 1;
	padding-left: 15px;
}
.tanglist ul {
	float: left;
	height: 285px;
	width: 350px;
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;
	padding: 10px;
	margin-right: 10px;
}
.tanglist ul li {
	padding: 0px;
}
.tanglist ul li.img {
	height: 180px;
	width: 350px;
	overflow: hidden;
}
.tanglist ul li.txt {
	margin-top: 10px;
	font-size: 16px;
	line-height: 22px;
	height: 44px;
	overflow: hidden;
	font-family: \5FAE\8F6F\96C5\9ED1, \9ED1\4F53;
	padding-bottom: 8px;
}
.tanglist ul li.pri {
	height: 40px;
}
.tanglist ul li.pri p {
	float: left;
	padding-right: 10px;
}
.tanglist ul li.pri p.x1 {
	padding-left: 15px;

}
.tanglist ul li.pri p.x1 strong {
	color: #cf140a;
	font-size: 22px;
	line-height: 22px;
	font-weight: bold;
	height: 22px;
}
.tanglist ul li.pri p.x1 small {
	text-decoration: line-through;
	color: #999999;
	font-size: 12px;
	line-height: 15px;
}


.tanglist ul li.pri p.x2 {
	line-height: 20px;
	font-size: 12px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dbdbdb;
	padding-top: 20px;
	padding-right: 20px;
}













.lkbox {
	position: relative;
	padding-top: 10px;
	border: 1px solid #dbdbdb;
	padding-left: 9px;
}
.lkbox .tx1 {
	line-height: 35px;
	text-align: center;
	height: 35px;
}
.lkbox .tx2 {
	background-color: #f5f5f5;
	padding: 10px;
	margin-right: 10px;
}
.lkbox div.img {
	height: 140px;
	width: 180px;
	position: relative;
	zoom: 1;
}
.lkbox div.img span{
	display: block;
	height: 140px;
	width: 185px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 99;
	background-color: #ffffff;
	opacity: 0;
	filter: "alpha(opacity=0)";
	filter: alpha(opacity=0);
}
.lkbox div.img span:hover {
	background-color: #000000;
	opacity: 0.2;
	filter: "alpha(opacity=20)";
	filter: alpha(opacity=20);
}

.lkbox div.img span.this{
	opacity: 0.6;
	filter: "alpha(opacity=60)";
	filter: alpha(opacity=60);
	background: #000000;
}
.lkbox div.img a:hover {
	text-decoration: none;
}

#gameContent{

}

#gameContent table{
	border-collapse: separate;
	border-spacing: 2px;
}
#gameContent td{
	width: 185px;
	height: 140px;
	text-align: center;
	vertical-align: middle;
}
#gameContent p{
	position: absolute;
	right: 194px;
	top: 158px;
	width: 372px;
	height: 282px;
	background: url("../image/game.jpg") no-repeat 0 0;
	padding-left: 0;
}
#gameContent p.waitGame{background:url("game.jpg") no-repeat -200px 0;}
#gameBtn{
	z-index: 999;
	display: block;
	width: 372px;
	height: 282px;
}
#gameBtn:hover{cursor:pointer;background:url("game.jpg") no-repeat -100px 0;}
